*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
x64/
bin/
.vs/
packages/
OLDBACKEND/
*.user
.vs/Chronite/v16/Browse.VC.db
.vs/Chronite/v16/.suo
*.ipch
*.db-wal
*.db-shm
*.opendb