*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
x64/
packages/
*.filters
*.user
.vs/NeoniteC++/v16/Browse.VC.db
.vs/NeoniteC++/v16/.suo
*.ipch
*.db-wal
*.db-shm
*.opendb
